header {
    background-color:#333; color: #fff;
    padding: 10px 0;
    margin: 0 20px;

    text-decoration: none;
}
nav ul {
    list-style: none; 
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-
    serif; margin: 0;
    padding: 0;
}

img {
    max-width: 25%;
}

footer {
    background-color:#333; color: #fff;
    padding: 10px 0;
    margin: 0 20px;

    text-align: center;
}